In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['w','x','y','z'])
df

          w         x         y         z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [8]:
df['w']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: w, dtype: float64

In [9]:
type(df['w'])

pandas.core.series.Series

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.w

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: w, dtype: float64

In [12]:
df['x']

A    1.693723
B    0.390528
C    0.072960
D   -0.754070
E    1.901755
Name: x, dtype: float64

In [13]:
df[['x','z']]

          x         z
A  1.693723 -1.159119
B  0.390528  0.184502
C  0.072960  0.329646
D -0.754070  0.484752
E  1.901755  1.996652

In [16]:
df['new'] = df['w'] + df['y']

In [17]:
df

          w         x         y         z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [21]:
df.drop('new',axis=1,inplace=True)

In [22]:
df

          w         x         y         z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [23]:
df.drop('E')

          w         x         y         z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [24]:
df

          w         x         y         z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [25]:
df.loc['A']

w    0.302665
x    1.693723
y   -1.706086
z   -1.159119
Name: A, dtype: float64

In [26]:
df.iloc[2]

w    0.807706
x    0.072960
y    0.638787
z    0.329646
Name: C, dtype: float64

In [28]:
df.iloc[3]

w   -0.497104
x   -0.754070
y   -0.943406
z    0.484752
Name: D, dtype: float64

In [29]:
df.loc['B','y']

0.16690463609281317

In [31]:
df.loc[['A','B'],['w','y']]

          w         y
A  0.302665 -1.706086
B -0.134841  0.166905